/* 1408 px */

@media (max-width: 88em) {
  /* .hero {
    max-width: 120rem;
  }
  .hero-description {
    font-size: 1.9rem;
  }
  .hero {
    max-width: 110rem;
  }
  .cta-container {
    max-width: 120rem;
  }
  .goals.grid {
    gap: 4.8rem;
  }*/
  .hero {
    padding: 0 6rem;
  }
}

@media (max-width: 75em) {
  .hero {
    padding: 0 7.2rem;
  }
  .container {
    padding: 9.6rem 6.4rem;
  }
  .goals {
    padding: 0 3.6rem 3.6rem 3.6rem;
  }
  .grid.goals {
    gap: 3.2rem;
  }
  .cta-container {
    padding: 6.4rem;
  }
}

@media (max-width: 66em) {
  html {
    font-size: 52.25%;
  }
}

@media (max-width: 56.25em) {
  .hero {
    padding: 0 3.2rem;
  }
  .grid-3-cols {
    grid-template-columns: 1fr;
  }
  .grid.card-text {
    gap: 4.8rem;
  }
  .grid-4-cols {
    grid-template-columns: 1.5fr 1.5fr;
  }
  .nav-link {
    grid-row: 1;
  }
  .cta-container {
    padding: 4.8rem 9.6rem 9.6rem;
  }
  .cta-text {
    padding: 4.8rem;
  }
  .cta-info {
    width: 60%;
  }
  .cta-btn {
    width: 23%;
  }
  .partners {
    padding: 4.8rem;
  }
  .logos img {
    height: 10%;
    width: 17.5%;
  }
  .grid-2-cols {
    grid-template-columns: 2fr;
  }
  .text {
    margin-top: 0;
  }
  .text-1 {
    grid-row: 3;
  }
  .text-2 {
    grid-row: 7;
  }
  .text-3 {
    grid-row: 11;
  }
  .grid.project {
    gap: 4.8rem;
  }
  .project-image {
    height: 100%;
    width: 100%;
  }

  /* Mobile Nav */
  .btn-mobile-nav {
    display: block;
  }
  .navigation {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .navigation-btn {
    flex-direction: column;
    gap: 4rem;
    /* gap 8rem */
    align-items: center;
  }
  .nav-btn {
    font-size: 2.4rem;
    /* font 3.8rem */
    color: #d29819;
  }
  .nav-open .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 50%;
  }
  .heading-primary {
    font-size: 10rem;
    line-height: 0.9;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
  .footer .grid {
    display: flex;
    flex-direction: column-reverse;
    padding: 9.6rem 3.2rem;
  }
  .project {
    padding: 9.6rem 4rem 2rem 4rem;
  }
  /* .project-description {
    font-size: 2.4rem;
  } */
  .project-list {
    font-size: 1.7rem;
  }
  .cta-container {
    padding: 3.2rem 3.2rem 9.6rem 3.2rem;
  }
}

@media (max-width: 31.25em) {
  .heading-primary {
    font-size: 8rem;
  }
  .hero-description {
    font-size: 1.7rem;
  }
  .project-description {
    font-size: 2.4rem;
  }
  .cta-infos {
    flex-direction: column;
    gap: 2rem;
  }
  .cta-info {
    width: 100%;
  }
  .cta-btn {
    width: 100%;
  }
  .cta-text {
    padding: 6.4rem;
  }
  .cta-btn {
    font-size: 1.4rem;
  }
}

@media (max-width: 25em) {
  html {
    font-size: 45%;
  }
  .heading-primary {
    font-size: 7rem;
  }
}

@media (max-width: 13em) {
  html {
    font-size: 35%;
  }
}
